# Managed by ansible (roles/sunshine). Manual edits will be overwritten
# on the next playbook run; change defaults in roles/sunshine/defaults/main.yml.
sunshine_name = {{ sunshine_name }}
port = {{ sunshine_port }}
min_log_level = {{ sunshine_min_log_level }}
